@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
.container {
  position: relative;
  margin: 10px auto;
  border: 2px solid black;
  width: 1800px;
  height: 1200px;
  display: flex;
}

.band {
  flex: 1;
  position: relative;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

.box-parent1 {
  position: absolute;
  left: 124px;
  top: 548px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
}


.box-child1 {
  position: absolute;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  top: -2px;
  left: 120px;
  background-color: white;
}

.box-parent2 {
  position: absolute;
  left: 238px;
  top: 10px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
}

.box-parent3 {
  position: absolute;
  left: 10px;
  top: 838px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
}

.box-child2 {
  position: absolute;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  left: -2px;
  top: 120px;
  background-color: white;
}